---
import paper from "#/paper.json"
import { PaperTitle } from "@/components/ui/paper-title"
import DetailLayout from "@/layouts/detail-layout.astro"

export function getStaticPaths() {
	const papers = paper.list as Paper[]
	const paths = papers.map(paper => ({
		params: {
			id: paper.id,
		},
	}))
	return paths
}

const { id } = Astro.params
const paperTarget = paper.list.find(target => target.id === id)!
---

<DetailLayout content="paper" title={paperTarget?.name ?? ""}>
	<PaperTitle subtitle={paperTarget?.englishName ?? ""} title={paperTarget?.name ?? ""} />
	<div class="mx-auto mt-3 flex w-[1064px] gap-5">
		<div class="flex grow flex-col gap-3 ">
			{
				paperTarget?.authors.length > 0 && (
					<div class="flex flex-col gap-2">
						<span class="text-semibold text-primary">作者：</span>
						<div class="flex gap-2 rounded-md border border-[#CBD5E1] bg-white p-2 font-semibold">
							{paperTarget?.authors.map(author => <span>{author}</span>)}
						</div>
					</div>
				)
			}
			{
				paperTarget?.abstract && (
					<div class="flex flex-col gap-2">
						<span class="text-semibold text-primary">摘要：</span>
						<div class="rounded-md border border-[#CBD5E1] bg-white p-2">
							{paperTarget?.abstract}
						</div>
					</div>
				)
			}
			{
				paperTarget?.content && (
					<div class="flex flex-col gap-2">
						<span class="text-semibold text-primary">正文：</span>
						<div class="rounded-md border border-[#CBD5E1] bg-white p-2">
							{paperTarget?.content}
						</div>
					</div>
				)
			}
		</div>
		<div class="mt-8 flex flex-col gap-5">
			{
				(paperTarget?.download.pdf || paperTarget?.download.caj || paperTarget?.download.link) && (
					<div class="flex flex-col gap-2.5">
						{
							paperTarget?.download.pdf && (
								<a href={paperTarget?.download.pdf} target="_blank">
									<div class="flex items-center gap-2.5 rounded-md border border-slate-300 bg-[#FFEFEE] p-2.5">
										<span class="i-tabler-file-type-pdf" />
										<span>PDF 下载</span>
									</div>
								</a>
							)
						}
						{
							paperTarget?.download.caj && (
								<a href={paperTarget?.download.caj} target="_blank">
									<div class="flex items-center gap-2.5 rounded-md border border-slate-300 bg-[#FEFFDA] p-2.5">
										<span class="i-tabler-file-certificate" />
										<span>CAJ 下载</span>
									</div>
								</a>
							)
						}
						{
							paperTarget?.download.link && (
								<a href={paperTarget?.download.link} target="_blank">
									<div class="flex items-center gap-2.5 rounded-md border border-slate-300 bg-cyan-50 p-2.5">
										<span class="i-tabler-file-sad" />
										<span>备用下载</span>
									</div>
								</a>
							)
						}
					</div>
				)
			}
			<div class="flex flex-col gap-2.5 rounded-md border border-slate-300 bg-white p-2.5">
				{
					paperTarget?.info.doi && (
						<p>
							DOI: {paperTarget?.info.doi}
						</p>
					)
				}
				{
					paperTarget?.info.journal && (
						<p>
							期刊名：{paperTarget?.info.journal}
						</p>
					)
				}
				{
					paperTarget?.info.volume && (
						<p>
							期刊卷：{paperTarget?.info.volume}
						</p>
					)
				}
				{
					paperTarget?.time && (
						<p>
							发表日期：{paperTarget?.time}
						</p>
					)
				}
				{
					paperTarget?.info.classificationNumber && (
						<p>
							分类号：{paperTarget?.info.classificationNumber}
						</p>
					)
				}
			</div>
		</div>
	</div>
</DetailLayout>
